<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/app.css">
</head>
<body>
    <div id="container">
<header>
    <ul>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/create">CreateProizvod</a></li>
        <li><a href="/admin/update">UpdateProizvod</a></li>
        <li><a href="/admin/delete">DeleteProizvod</a></li>
        <li><a href="/porudzbine">Porudzbine</a></li>
        <li><a href="#">Prijava</a></li>
    </ul>
</header>