<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/app.css">
    <script src="https://kit.fontawesome.com/56dbddec0c.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="container">
        <header>
                <ul>
                    <li class="menu"><a href="/">Home</a></li>
                    <li class="menu">
                        <a href="/proizvodi">KategorijeProizvoda</a>
                        <ul class="ani-menu">
                            <li><a href="/proizvodi/kategorija/1">Voce</a></li>
                            <li><a href="/proizvodi/kategorija/2">Povrce</a></li>
                            <li><a href="/proizvodi/kategorija/3">Meso</a></li>
                            <li><a href="/proizvodi/kategorija/4">Riba</a></li>
                            <li><a href="/proizvodi/kategorija/5">Grickalice</a></li>
                            <li><a href="/proizvodi/kategorija/6">Cokolade</a></li>
                            <li><a href="/proizvodi/kategorija/7">Pica</a></li>
                            <li><a href="/proizvodi/kategorija/8">Zdrava Hrana</a></li>
                            <li><a href="/proizvodi/kategorija/9">Pekara</a></li>
                        </ul>
                    </li>
                    <li class="menu" id="prijava" >
                        

                        </li>
                    <li class="menu" id="porudzbina"><a href="/porudzbine">Moje Porudzbine</a></li>
                </ul>
                <h2><%= naslov %></h2>
        </header>

    <div id="main_container">
        



