@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Benne', serif;
    color: #fff;
}

html, body {
    height: 100%;
    /*background-color: antiquewhite;*/
}
.body_Voce {
    background-color: #000;
}


#container {
    height: 100%;
    /*border: 2px solid #000;*/
    position: relative;
    z-index: 0;
    background-color: antiquewhite;
    /*background-image: url('../images/roman-kraft-P8zDQz8Y2Vc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: scroll;*/
}


header {
    height: 10%;
    background-color: #000; ; /*antiquewhite*/
}

header h2 {
    color: #fff;
}

header ul, header ul li{
    list-style: none;
    display: inline-block
}

header ul {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
}

.menu {
    position: relative;
    padding: 0 4px;
}

.ani-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


.menu:focus .ani-menu, 
.menu:focus-within .ani-menu,
.menu:hover .ani-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s ;
    background-color: #000;
}

.ani-menu li {
    display: block;
}

.ani-menu a {
    width: 100%;
    text-align: center;
    margin-left: 4px;
    padding: 0 5px 0 0;
}

.ani-menu a:hover {
    background-color: #000; 
    border: 3px solid #fff;
    color: #fff;
}

header a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}


#main_container {
    height: 100%;
    position: relative;
}


/*Kategorije proizvoda*/

.kategorije_kategorijeProizvodi {
    display: inline-block;
    border: 1px solid #000;
    width: 10%;
    height: 20%;
    padding: 0;
    text-align: center;
}

/*
    Produkti
*/

.content-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
}





/*
    Forme
*/


.forme {
    border: 1px solid #000;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

.forme .okvir_inputa {
    margin-top: 15%;
    border: 1px solid #000;
}

.forme div input {
    text-align: center;
    margin-top: 5px;
    color: #000;
}





