<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Info o korisniku -->

    <div>
        <h2><%= data[0].IME %></h2>
        <p>Email: <%= data[0].EMAIL %></p>
        <p>Broj Telefona: <%= data[0].BROJ_TELEFONA%></p>
        <button><a href="#">Home Page</a></button>
        <button><a href="update">Update Podaci</a></button>
    </div>
  
</body>
</html>