
    <%- include('../partials/header.ejs')%>
    
        <form method="post" id="forma-prijava" class="forme">
            <input type="text" type="email" name="email" placeholder="email" autocomplete="off" required> 
            <input type="text" type="password" minlength="8" placeholder="password" name="lozinka" autocomplete="off" required>
            <input type="submit" value="Prijava">
            <p><a href="/auth/register">Registruj se</a></p>
        </form>
    
        
    </div>
    </div> 
    <%- include('../partials/footer.ejs')%>
    <script src="../app.js"></script>
    </body>
    </html>
    