<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div>
    <form action="/prozvodi" method="POST">

        <label for="ime_proizvoda">Ime Proizvoda:</label><input type="text" name="IME" id="ime_proizvoda">
        <select name="KATEGORIJA_ID" id="">
            <option value="1">Voce</option>
            <option value="2">Povrce</option>
            <option value="3">Meso</option>
            <option value="4">Riba</option>
            <option value="5">Grickalice</option>
            <option value="6">Cokolade</option>
            <option value="7">Zdrava Hrana</option>
            <option value="8">Pekara</option>
        </select>
        <textarea name="OPIS" id="" cols="30" rows="10" name="OPIS"></textarea>
        <!--Adresa slike-->
        <input type="text" name="CENA">
        <button type="submit">Potvrdi</button>
    </form><!--Ovde je API-->
</div>    
</body>
</html>

