<%- include('../partials/adminHeader.ejs')%>

<div class="opcije">
    <button id="opcija_create">CreateProizvod</button>
    <form method="POST" id="createProizvod_form">

        <input type="text" placeholder="ime_proizvoda" name="ime" id="ime_proizvoda_create" required />
        <select name="kategotija" id="kategorija_proizvoda">
            <option value="1">Voce</option>
            <option value="2">Povrce</option>
            <option value="3">Meso</option>
            <option value="4">Riba</option>
            <option value="5">Grickalice</option>
            <option value="6">Cokolade</option>
            <option value="7">Zdrava Hrana</option>
            <option value="8">Pekara</option>
        </select>
        <textarea name="opis" id="opis" cols="10" rows="10" name="OPIS"></textarea>
        <input type="text" name="cena" id="cena" required />
        <button type="submit">Submit</button>
    </form>
</div> 

</div>
</body>
</html>



