
<%- include('../partials/header.ejs')%>

<div>
    <span><%= proizvod[0].IME %></span>
    <img src="" alt="">
    <p><%= proizvod[0].OPIS %></p>
    <p><%= proizvod[0].CENA %></p>
</div>

</div>
</body>
</html>





