

<div class="proizvodi_box">
    <input type="text">
    <select name="" id="">
        <option value="">Voce</option>
        <option value="">Povrce</option>
        <option value="">Riba</option>
        <option value="">Meso</option>
    </select>
    <button>Search</button>
</div>


