<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div>
    <form action="">
        <label for="ime_proizvoda"></label><input type="text" name="" id="ime_proizvoda">
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <input type="text">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <!--Adresa slike-->
        <input type="text">
        <button type="submit"Submit></button>
    </form><!--Ovde je API-->>
</div>    
</body>
</html>
