<%- include('../partials/adminHeader.ejs')%>
<div class="opcije" >
    <button id="opcija_update">UpdateProizvod</button>
    <form id="forma_create" method="PUT">
        <input type="text" value="" name="" id="ime_proizvoda">
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <input type="text">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="file">
        <input type="text">
        <button type="submit">Submit</button>
    </form>
</div> 
</div>
</body>
</html>

